@layer tokens {
  :root {
    --bc-space-1: 4px;
    --bc-space-2: 6px;
    --bc-space-3: 8px;
    --bc-space-4: 10px;
    --bc-space-5: 12px;
    --bc-space-6: 14px;
    --bc-space-7: 18px;
    --bc-space-8: 22px;
    --bc-space-9: 28px;
  }
}
